<div class="minhas-musicas">
    <span class="titulo-bg mt-4">
        Seu Top Artista
    </span>

    <app-top-artistas class="mt-2 d-block"></app-top-artistas>

    <span class="titulo-bg mt-4">
        Musicas Curtidas
    </span>
    <table class="table mt-3">
        <thead>
            <tr>
                <th>#</th>
                <th>Titulo</th>
                <th>Artista</th>
                <th>Tempo</th>
                <th>Album</th>
            </tr>
        </thead>
    </table>

</div>

<app-painel-direito class="painel-direito"></app-painel-direito>