<div class="menus flex">
    <div class="img-container flex flex-center">
        <img src="assets/images/spotify-logo.png" alt="Logo Spotify" srcset="">
    </div>

    <div class="menu-container flex opcoes">
        <app-botao-menu [descricao]="'Home'" [selecionado]="menuSelecionado == 'Home'" (click)="botaoClick('Home')">
            <fa-icon [icon]="homeIcon"></fa-icon>
        </app-botao-menu>
        <app-botao-menu [descricao]="'Pesquisar'" [selecionado]="menuSelecionado == 'Pesquisar'"
            (click)="botaoClick('Pesquisar')">
            <fa-icon [icon]="pesquisarIcon"></fa-icon>
        </app-botao-menu>
        <app-botao-menu [descricao]="'Artistas'" [selecionado]="menuSelecionado == 'Artistas'"
            (click)="botaoClick('Artistas')">
            <fa-icon [icon]="playlistIcon"></fa-icon>
        </app-botao-menu>

    </div>

    <div class="menu-container flex">
        <span class="playlist-titulo">PlayList</span>

        <div class="playlist-scroll">
            <app-botao-menu *ngFor="let playlist of playlists" [descricao]="playlist.nome"
                [selecionado]="menuSelecionado == playlist.id" (click)="irParaPlaylist(playlist.id)">
                <fa-icon [icon]="playlistIcon"></fa-icon>
            </app-botao-menu>
        </div>
    </div>
</div>
<div class="usuario-info">
    <app-rodape-usuario></app-rodape-usuario>
</div>